{% extends "base.html" %}

{% block title %}Вход{% endblock %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-4">
				<h2>Уже есть аккаунт? Вход</h2>
			    <form action="." method="POST">
			        <input type="text" name="username" required="" placeholder="Имя пользователя" id="id_username">
			        <input type="password" name="password" required="" placeholder="Пароль" id="id_password">
			        {% csrf_token %}
			        <button class="btn btn-success">Вход</button>
			    </form>
			</div>
			<div class="col-md-2">
			</div>
			<div class="col-md-4">
				<h2>Нет аккаунта? Регистрация</h2>
			    <form action="." method="POST">
			        <input type="text" name="username_register" required="" placeholder="Имя пользователя" id="id_username_register">
			        <input type="password" name="password_register" required="" placeholder="Пароль" id="id_password_register">
			        {% csrf_token %}
			        <button class="btn btn-success">Регистрация</button>
			    </form>
			    <h3>Зачем может пригодиться регистрация</h3>
			    <p>Регистрация понадобится для загрузки своих видеофайлов (Beta), ведения своей истории просмотра и поиска людей с кем можно посмотреть фильм.</p>
			</div>
			<div class="col-md-1"></div>
		</div>
	</div>

{% endblock %}
