{% extends "base.html" %}

{% block title %}{{object.title}}{% endblock %}
{% block description %}{% endblock %}


{% block content %}
<div id="content">
    <div class="container">
      <h1>Видео удалёно по требованию правообладателя</h1>
    </div>
</div>

<script defer src="/static/js/flowplayer.min.js" type="text/javascript"></script>  
<script defer src="/static/js/reconnecting-websocket.min.js" type="text/javascript"></script>
{% endblock %}
