<!DOCTYPE html>

{% load staticfiles %}

<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="/static/css/jquery.mCustomScrollbar.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/static/skin/skin.css?r={{room.room_uuid}}" type="text/css">
    <link rel="stylesheet" href="/static/css/chat.css?r={{room.room_uuid}}" type="text/css">
    <script src="{% static "js/detect.js" %}" type="text/javascript"></script> 
    <script src="{% static "js/jquery2.min.js" %}" type="text/javascript"></script> 
    <script src="{% static "js/flowplayer.min.js" %}" type="text/javascript"></script>  
    <script src="/static/js/flowplayer.hlsjs.light.min.js"></script>
    <script src="{% static "js/reconnecting-websocket.min.js" %}" type="text/javascript"></script>
    <script src="{% static "js/jquery.mCustomScrollbar.concat.min.js" %}" type="text/javascript"></script>
    <script src="{% static "js/js.cookie.min.js" %}" type="text/javascript"></script>
    <script src="{% static "js/chat.js" %}?r={{room.room_uuid}}" type="text/javascript"></script>
	{% block extra_head %}{% endblock %}
</head>
<body>
	{% block content %}
	{% endblock %}

	{% block extra_body %}{% endblock %}



{% if not DEBUG %}
{% if not hide_metrika %}
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter50043883 = new Ya.Metrika2({
                    id:50043883,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,
                    webvisor:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/tag.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks2");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/50043883" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-28543141-12"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-28543141-12');
</script>

{% endif %}
{% endif %}
    
</body>
</html>
