<!DOCTYPE html>

{% load staticfiles %}

<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="yandex-verification" content="908adb77dda54562" />
    <meta name="google-site-verification" content="hXDFdLd_S7Uc_YEDQLIRRC13fjqbU6KQCqKC8S-s-2s" />
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="description" content="{% block description %}Смотрите фильмы вместе с друзьями онлайн, скопировав им ссылку на комнату без регистрации на сайте и установки программ. Приятного совместного просмотра онлайн.{% endblock %}">
	<link rel="icon" href="/static/images/favicon.png" type="image/png">
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}" type="text/css" media="screen" />
	<link rel="stylesheet" href="{% static "css/main.css" %}" type="text/css" media="screen" />
	<link rel="stylesheet" href="{% static "css/color_scheme.css" %}" type="text/css" media="screen" />
	<link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}" type="text/css" media="screen" />
	<script src="{% static "js/jquery3.min.js" %}" type="text/javascript"></script>	
    <script src="{% static "js/bootstrap.min.js" %}" type="text/javascript"></script>   
	<script src="{% static "js/main.js" %}" type="text/javascript"></script>	
	{% block extra_head %}{% endblock %}
</head>
<body><body class="body__home option-com_content view-category task- itemid-101">
                <!-- Body -->

        <!-- Top -->
        <!-- top -->
    <div id="top" class="stuck" style="z-index: 1000; position: static; top: auto; margin-left: 0px; width: 1268px; left: 0px;">
        <div class="container">
            <div class="row">
                <nav class="moduletable home_menu  col-sm-12">
                    <div class="module_container">
                        <div class="icemegamenu">
                            <ul id="icemegamenu">
                        		{% for genre in genres %}
                        		<li class="iceMenuLiLevel_1 current active ">
                        			<a href="/genre/{{genre.slug}}/" class="icemega_active iceMenuTitle">
                                        <span class="icemega_title icemega_nosubtitle">{{genre.name3|default:genre.name2|default:genre.name}}</span>
                                    </a>
                        		</li>
                        		{% endfor %}
                                <li class="iceMenuLiLevel_1 current active ">
                                    <a href="/youtube/" class="icemega_active iceMenuTitle">
                                        <span class="icemega_title icemega_nosubtitle" style="color: #dc3545">Youtube</span>
                                    </a>
                                </li>
                                {% if user.is_authenticated %}
                                <li class="iceMenuLiLevel_1 current active ">
                                    <a href="/accounts/profile/" class="icemega_active iceMenuTitle">                                        
                                        <span class="icemega_title icemega_nosubtitle" style="color: #dc3545">Профиль</span>
                                    </a>
                                </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>

    <div id="fixed_cloned" class="fixed_cloned" style="height: 61px; width: 1268px; display: none; visibility: hidden;">
        <div class="container">
            <div class="row">
                <nav class="moduletable home_menu  col-sm-12">
                    <div class="module_container">
                        <div class="icemegamenu">
                            <ul id="icemegamenu">
                                {% for genre in genres %}
                                <li id="iceMenu_101" class="iceMenuLiLevel_1 current active ">
                                    <a href="/genre/{{genre.slug}}/" class="icemega_active iceMenuTitle">
                                        <span class="icemega_title icemega_nosubtitle">{{genre.name3|default:genre.name2|default:genre.name}}</span>
                                    </a>
                                </li>
                                {% endfor %}
                                <li id="iceMenu_101" class="iceMenuLiLevel_1 current active ">
                                    <a href="/youtube/" class="icemega_active iceMenuTitle">
                                        <span class="icemega_title icemega_nosubtitle" style="color: #dc3545">Youtube</span>
                                    </a>
                                </li>
                            </ul>
                        </div>                        
                    </div>
                </nav>
            </div>
        </div>
    </div>

        <div id="wrapper">
            <div class="wrapper-inner">
                <a id="fake" href="#"></a>
                <!-- header -->
                <div id="header">
                	<div class="container">
                    	<div class="row"><!-- Logo -->
                            <div id="logo" class="col-sm-6">
                                <a href="/">
                                    <img src="/static/images/logo.png" alt="Логотип vmeste.tv - смотреть фильмы вместе" />
                            	</a>
                            </div>
                            <div class="moduletable   col-sm-6">
                            	<div class="module_container">
                            		<div role="search" class="mod-search custom mod-search__">
              							<form action="/search/" method="get" class="navbar-form">
              								<label for="search" class="element-invisible">Поиск...</label> 
              								<input id="search" name="text" maxlength="200" class="inputbox mod-search_searchword" size="0" placeholder="Поиск" required="" type="text" value="{{text|default:''}}"> 
              								<button class="fa fa-search" onclick="this.form.searchword.focus();"></button>  	
              							</form>
            						</div>
            					</div>
            				</div>
            			</div>
                    </div>
                </div> <!-- #header -->

                {% block content %}{% endblock %}
	</div> <!-- wrapper inner -->
</div> <!-- wrapper -->

        <div id="footer-wrapper">
            <div class="footer-wrapper-inner">
                <!-- Copyright -->
                <div id="copyright" role="contentinfo">
                    <div class="container">                        
                    	<div class="row">
                            <div class="copyright col-sm-4">
                                <img src="/static/images/logo_small.png" alt="vmeste.tv"/>
                                <span class="siteName">Здесь расстояние не имеет власти</span>
                            </div>
                            <div class="col-sm-2">
                                <span class="siteName"><a href="/pravo/">Правообладателям</a></span>
                            </div>
                            <div class="col-sm-2">
                                <a href="/feedback/">Обратная связь</a>
                            </div>
                            <div class="copyright col-sm-4 text-right">
                                <span class="siteName"> Мы в
                                    <a href="https://vk.com/kinovmestetv" target="_blank">Vkontakte <i class="fa fa-vk"></i></a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="back-top" style="display: none;">
        	<a href="#"><span></span> </a>
    	</div>  

    	<div class="moduletable " id="module_180"><div id="style_switcher">
    	<div class="toggler"></div>
    </div>
</div>

{% block extra_foot %}{% endblock %}

{% if not DEBUG %}
{% if not hide_metrika %}
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter50043883 = new Ya.Metrika2({
                    id:50043883,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,
                    webvisor:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/tag.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks2");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/50043883" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-28543141-12"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-28543141-12');
</script>

{% endif %}
{% endif %}
</body>
</html>
