{% extends "base.html" %}

{% block title %}{% if rooms.0 %}{{rooms.0.title}}{% else %}Chats {{open_rooms.count}}{% endif %}{% endblock %}
{% block description %}Chats{% endblock %}

{% block content %}
<div style="margin-left: 10px">
	<h3>Сейчас смотрят: {{open_rooms.count}} фильмов</h3>
	{% for room in open_rooms %}
	<div style="margin-top: 10px">
		<h3><a href="/chats/?room={{room.room_uuid.hex}}">{{room.title}}</a>  {% if room.film %}{{room.film.server}}{% endif %}</h3>
		<small>Создана: {{room.dt_create|date:'d.m.Y H:i'}} Время: {{room.current_time}}</small>
		<p>Человек {{room.user_count}}, сообщений: {{room.message_count}}</p>
		<table>
		{% for ruser in room.users %}
		<tr>
			<td>{{ruser.name}}</td>
			<td>{{ruser.current_time}}</td>
			<td>{{ruser.ip}}<br/>{{ruser.ip_location}}</td>
			<td>{{ruser.ua}}</td>
		</tr>
		{% endfor %}
		</table>
	</div>
	{% endfor %}
	
	{% if last_rooms %}
	<h3>Завершившиеся просмотры за 12 часов ({{last_rooms.count}})</h3>
	{% for room in last_rooms %}
	<div>
		<h3><a href="/chats/?room={{room.room_uuid.hex}}">{{room.title}}</a>  {% if room.film %}{{room.film.server}}{% endif %}</h3>
		<small>Создана: {{room.dt_create|date:'d.m.Y H:i'}} Время: {{room.current_time}}</small>
		<p>Человек {{room.max_user_count}}, сообщений: {{room.message_count}}</p>
	</div>	
	{% endfor %}
	{% endif %}

	{% if users %}
	<h3>Пользователи</h3>
	<table>
		{% for ruser in users %}
		<tr>
			<td>{{ruser.name}}</td>
			<td>{{ruser.current_time}}</td>
			<td>{{ruser.ip}}<br/>{{ruser.ip_location}}</td>
			<td>{{ruser.ua}}</td>
		</tr>
		{% endfor %}
	</table>
	{% endif %}


	{% if last_comments %}
	<h2>Последние комментарии</h2>
	<table>
	{% for d in last_comments %}
	<tr>
		<td>
			<a href="{{d.film.get_absolute_url}}">{{d.film.title}}</a>
			<br/>{{d.dt_create|date:'d.m.Y H:i'}}<br/>{{d.username}}</td>
		<td><b>{{d.comment}}</b></td>
	</tr>	
	{% endfor %}	
	</table>
	{% endif %}
	{% if last_feedbacks %}
	<h2>Последние фидбеки</h2>
	<table>
	{% for d in last_feedbacks %}
	<tr>
		<td>{{d.dt_create|date:'d.m.Y H:i'}}</td>
		<td><b>{{d.text}}</b></td>
	</tr>
	{% endfor %}	
	</table>
	{% endif %}

{% endblock %}
