{% extends "base.html" %}

{% block title %}Обратная связь{% endblock %}

{% block content %}
<div id="content">
    <div class="container">
      {% if good == '1' %}
      <h1>Обратная связь</h1>
      <p>Спасибо за ваше сообщение</p>      
      {% else %}
      <p>Написать сообщение администратору</p>
      <form method="post" action="">
        <div class="form-group">
          <label for="text">Сообщение: <small>(при необходимости укажите своё имя, email и другие контактные данные)</small></label>
          <textarea class="form-control" id="text" name="text" rows="10" placeholder="Текст сообщения"></textarea>
        </div>
        <button type="submit" class="btn btn-success">Отправить</button>
      </form>
      {% endif %}
    </div>
</div>
{% endblock %}
