<div class="col-sm-12 mt-2 mb-2">
  <div class="row">
  <!-- Intro image -->
    <div class="col-md-3 text-right">
      <a href="{{d.get_absolute_url}}">
        {% if d.image %}
        <img src="/{{d.image.url|default:'/static/images/noposter.jpg'}}"  style="max-height: 200px" alt="">
        {% else %}
        <img src="{{d.image_url}}"  style="max-height: 200px" alt="">
        {% endif %}
      </a>
    </div>

    <div class="col-md-9">
      <header class="item_header">
        <h6 class="item_title heading-style-6">
          <a href="{{d.get_absolute_url}}">{{d.title}}</a> 
        </h6>
      </header>
      <p>
        Год: {{d.info.year}}<br/>
        Жанр: {{d.info.genre|join:' ,'}}<br/>
        Режисер: {{d.info.producer|join:' ,'}}<br/>
        Актёры: {{d.info.actors|join:' ,'}}
      </p>
      <p>{{d.info.description|default:d.description|default:''|truncatewords:30}}</p>
      {% if user.is_staff %}
        {% if object %}
        <a href="{{c.get_absolute_url}}?efilm={{d.id}}&rm=1" class="add-collection">удалить из {{object.title_short}}</a>
        {% endif %}

        {% for c in all_collections %}
        <a href="{{c.get_absolute_url}}?film={{d.id}}" class="add-collection">Добавить в {{c.title_short}}</a>
        {% endfor %}
      {% endif %}
    </div>
  </div>
</div>
