<div class="col-sm-3 film-block">
  <article class="item column-1 visible-first" id="item-118">
  <!-- Intro image -->
    <figure class="item_img img-intro img-intro__none">
      <a href="/film/{{d.slug}}/">
        {% if d.image_url %}
        <img src="{{d.image_url}}" alt="">
        {% else %}
        <img src="/static/images/noposter.jpg" alt="">
        {% endif %}
      </a>
    </figure>
    <!--  title/author -->
    <header class="item_header">
      <h6 class="item_title heading-style-6">
        <a href="/film/{{d.slug}}/">{{d.title}}</a>
      </h6>
    </header>
    <!-- Introtext -->
    <div class="item_introtext">{{d.info.year}}</div>
    <div class="item_introtext">{{d.info.genre|join:', '}}</div>
    <!-- info BOTTOM -->
      <!-- Tags -->
        <!-- More -->
  </article><!-- end item -->
</div><!-- end spann -->
