<div class="col-sm-12 mt-2 mb-2">
  <div class="row">
  <!-- Intro image -->
    <div class="col-md-3 text-right">
      <a href="/view/{{d.token}}/" target="_blank">
        <img src="{{d.info.poster|default:'/static/images/noposter.jpg'}}"  style="max-height: 200px" alt="">
      </a>
    </div>

    <div class="col-md-9">
      <header class="item_header">
        <h6 class="item_title heading-style-6">
          <a href="#" onclick="window.location='/view/'+'{{d.token}}'+'?open=0'; return false;" target="_blank">{{d.title}}</a> 
        </h6>
      </header>
      <p>
        Год: {{d.info.year}}<br/>
      </p>
      <p>{{d.info.description}}</p>
      {% if user.is_staff %}
        {% if object %}
        <a href="{{c.get_absolute_url}}?efilm={{d.token}}&rm=1" class="add-collection">удалить из {{object.title_short}}</a>
        {% endif %}
        {% for c in all_collections %}
        <a href="{{c.get_absolute_url}}?efilm={{d.token}}" class="add-collection">Добавить в {{c.title_short}}</a>
        {% endfor %}
      {% endif %}
    </div>
  </div>
</div>
