{% extends "base.html" %}

{% block title %}Добавить фильм{% endblock %}

{% block content %}
<div id="content">
  <div class="container">
    {% if msg %}<h1 class="text-danger">{{msg}}</h1>{% endif %}
    <h2>Добавить новый фильм</h2>
    <form method="post">
      <div class="form-group">
        <label for="url">Ссылка на страницу описания</label>
        <input type="text" class="form-control" id="url" name="url" value="" />
      </div>
      <div class="form-group">
        <label for="torrent_url">Ссылка на торрент</label>
        <input type="text" class="form-control" id="torrent_url" name="torrent_url" />
      </div>
      <button type="submit" class="btn btn-success">Добавить</button>
    </form>
  </div>
</div>
{% endblock %}
