{% extends "base.html" %}

{% block title %}{{object.title}}{% endblock %}

{% block content %}
   
<!-- Main Content row -->
<div id="content">
    <div class="container">
        <div class="row">
            <div class="content-inner">
                <!-- Left sidebar -->
                <div id="component" class="col-sm-8">
                    <main role="main">
                        <div id="system-message-container"></div>
                        <section class="page-blog page-blog__home">
                          <header class="page_header">
                            <h1 class="heading-style-1 visible-first">
                              {{object.title}}
                            </h1>
                          </header>
                          <div class="items-row cols-4 row">
                            {% for d in object.films.all %}
                              {% include 'film_long.htm' %}
                            {% endfor %}
                            {% for d in object.films_external.all %}
                              {% include 'film_external_long.htm' %}
                            {% endfor %}
                          </div>
                        </section>
                    </main>
                </div>
                                <!-- aside-right -->
    <div id="aside-right" class="col-sm-4">
      {% include 'right_bar.htm' %}
    </div>
</div>
</div>
</div>
</div>

{% endblock %}
