{% extends "base.html" %}

{% block title %}{{object.title}} смотреть вместе онлайн{% endblock %}
{% block description %}Смотрите {{object.title}} вместе с друзьями скопировав им ссылку на комнату без регистрации{% endblock %}

{% block extra_head %}
<meta property="og:type"        content="article" /> 
<meta property="og:url"         content="http://vmeste.tv{{object.get_absolute_url}}" /> 
<meta property="og:title"       content="{{object.title}} - {{object.info.genre|join:', '}} - смотреть вместе онлайн" />
{% if object.image %}
<meta property="og:image"       content="http://vmeste.tv{{object.image_url}}" />
{% else %}
<meta property="og:image"       content="{{object.image_url}}" />
{% endif %}
<meta property="og:description" content="{{object.info.description|default:object.description}}" />
{% endblock %}

{% block content %}
<div id="content">
    <div class="container">
        <div class="row">
            <div class="content-inner">
                                <!-- Left sidebar -->
                                                                
                <div id="component" class="col-sm-8">
<article class="page-item page-item__blog page-item__home" itemscope itemtype="https://schema.org/Article">
		<header class="page-header">
   	<h1>{{object.title}}</h1>
	</header>
		<div class="item_img img-full img-full__left item-image">
		<img src="{{object.image_url}}" alt="{{object.title}}" style="max-width:300px"/>    
  </div>
    <header class="item_header">
      <h6 class="item_title">{{object.info.orig_name}}</h6> 
    </header>
  
  <div class="item_fulltext">

<p>{{object.info.slogan}}</p>
<p>Год выхода: {{object.info.year}}</p>
<p>Страна: {{object.info.country}}</p>
<p>Жанр: {{object.info.genre|join:', '}}</p>
<p>Режисер: {{object.info.producer|join:', '}}</p>
<p>Актеры: {{object.info.actors|join:', '}}</p>
{% if object.info.timing %}
<p>Продолжительность: {{object.info.timing}}</p>
{% endif %}

<h3>Для совместного просмотра создайте комнату:</h3>

<div class="row">
  <div class="col-md-6" style="padding: 2px">
    <a class="btn btn-success" href="#" onclick="window.location='/show/'+'{{object.slug}}'+'?open=1'; return false;">Открытая комната<br/>для всех</a>
  </div>
  <div class="col-md-6" style="padding: 2px">
    <a class="btn btn-danger" href="#" onclick="window.location='/show/'+'{{object.slug}}'+'?open=0'; return false;">Закрытая комната<br/>для приглашенных</a>
  </div>
</div>


<h3 class="mt-5">Чтобы пригласить друга в комнату для просмотра фильма вместе онлайн, киньте ему ссылку на комнату после её создания</h3>
<p>Время воспроизведения, пауза и перемотка будут автоматически синхронизированы с остальными участниками комнаты.</p>

<!-- Go to www.addthis.com/dashboard to customize your tools --> 
<div class="addthis_inline_share_toolbox mt-2"></div> 

<p class="text-justify mt-2">
{% firstof object.description object.info.description %}
</p>

<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5b8febb4cd337e90"></script> 

  <h2 class="heading-style-2" style="margin-bottom: 30px">Комментарии</h2>
  <div class="clearfix"></div>  
	<div class="page-blog">
    {% for d in object.comments %}
    <div class="item_title"><p><i class="fa fa-user"></i>  {{d.dt_create|date:'j E Y H:i'}} {{d.username}}</p></div>
    <div class="item"><p>{{d.comment}}</p></div>
    {% empty %}
    Здесь пока нет комментариев
    {% endfor %}

  </div> 
  <a class="btn btn-success" href="#" onclick="$('#new-comment').toggle();return false;">Написать комментарий</a>
  <div id="new-comment" style="margin-top: 20px; display:none">
    <form method="post" action="/comment/{{object.slug}}/">      
      <input type="text" name="username" placeholder="Ваше имя">
      <textarea name="comment" placeholder="Текст комментария"></textarea>
      <input type="submit" class="btn btn-success" value="Отправить">
    </form>
  </div>
  <div class="clearfix" style="margin-bottom: 30px"></div>  

  {% if object.other_comments %}
  <h2 class="heading-style-2" style="margin-bottom: 30px">Комментарии с других сайтов</h2>
  <div class="clearfix"></div>  
  <div class="page-blog">
    {% for d in object.other_comments %}
    <div class="item"><p><i class="fa fa-user"></i> {{d.comment}}</p></div>
    {% endfor %}
  </div> 
  {% endif %}


	</article>   
	</div>
    <div id="aside-right" class="col-sm-4">
     {% include 'right_bar.htm' %}
     {% if object.other_films.all %}
     <div class="moduletable ">
        <div class="module_container">
          <header class="page_header">
            <h6 class="moduleTitle  heading-style-6">
              Ещё фильмы
            </h6>
          </header>
          <div class="mod-newsflash-adv news mod-newsflash-adv__ cols-1">
            <div class="row text-center">
            {% for d in object.other_films.all %}
            <article class="col-sm-10">

                <article class="item column-1 visible-first" id="item-118">
                <!-- Intro image -->
                  <figure class="item_img img-intro img-intro__none">
                    <a href="/film/{{d.slug}}/">
                      <img src="{{d.image_url}}" alt="">
                    </a>
                  </figure>
                  <!--  title/author -->
                  <header class="item_header">
                    <h6 class="item_title heading-style-6">
                      <a href="/film/{{d.slug}}/">{{d.title}}</a>
                    </h6>
                  </header>
                  <!-- Introtext -->
                  <div class="item_introtext">{{d.info.year}}</div>
                  <div class="item_introtext">{{d.info.genre|join:', '}}</div>
                  <!-- info BOTTOM -->
                    <!-- Tags -->
                      <!-- More -->
                </article><!-- end item -->
              
              <div class="clearfix"></div>  
            </article>
            {% endfor %}
            </div>

            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      {% endif %}
</div>	
</div>
</div>
</div>
</div>

<script defer src="/static/js/flowplayer.min.js" type="text/javascript"></script>  
<script defer src="/static/js/reconnecting-websocket.min.js" type="text/javascript"></script>


{% endblock %}

