{% extends "base.html" %}
{% load static %}
{% block title %}{{object.title}} смотреть вместе онлайн{% endblock %}
{% block description %}Смотрите {{object.title}} вместе с друзьями скопировав им ссылку на комнату без регистрации{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="/static/skin/skin.css" type="text/css">

<script src="{% static "js/flowplayer.js" %}" type="text/javascript"></script>  

{% endblock %}

{% block content %}
<div id="content">
    <div class="container">
      <h1><a href="{{object.get_absolute_url}}">{{object.title}}</a></h1>
            <form method="post">
              
              <div class="form-group">
                <label for="title">Наименование</label>
                <input type="text" class="form-control" id="title" name="title" value="{{object.title}}" />
              </div>
              <div class="form-group">
                <label for="url">Ссылка на описание</label>
                <input type="text" class="form-control" id="url" name="url" value="{{object.info.url}}" />
              </div>
              <a href="{{object.info.url}}" target="_blank">{{object.info.url}}</a>
              <div class="form-group">
                <label for="torrent_url">Ссылка на торрент</label>
                <input type="text" class="form-control" id="torrent_url" name="torrent_url" value="{{object.info.torrent_url}}" />
              </div>
              <div class="form-group">
                <label for="orig_name">Оригинальное название</label>
                <input type="text" class="form-control" id="orig_name" name="orig_name" value="{{object.info.orig_name}}" />
              </div>
              <div class="form-group">
                <label for="slogan">Слоган</label>
                <input type="text" class="form-control" id="slogan" name="slogan" value="{{object.info.slogan}}" />
              </div>
              <div class="form-group">
                <label for="year">Год</label>
                <input type="text" class="form-control" id="year" name="year" value="{{object.info.year}}" />
              </div>
              <div class="form-group">
                <label for="country">Страна</label>
                <input type="text" class="form-control" id="country" name="country" value="{{object.info.country}}" />
              </div>
              <div class="form-group">
                <label for="genre">Жанр</label>
                <input type="text" class="form-control" id="genre" name="genre" value="{{object.info.genre|join:', '}}" />
              </div>
              <div class="form-group">
                <label for="producer">Режисёр</label>
                <input type="text" class="form-control" id="producer" name="producer" value="{{object.info.producer|join:', '}}" />
              </div>
              <div class="form-group">
                <label for="actors">Актеры</label>
                <input type="text" class="form-control" id="actors" name="actors" value="{{object.info.actors|join:', '}}" />
              </div>
              <div class="form-group">
                <label for="timing">Продолжительность</label>
                <input type="text" class="form-control" id="timing" name="timing" value="{{object.info.timing}}" />
              </div>
              <div class="form-group">
                <label for="description">Описание</label>
                <textarea class="form-control" id="description" name="description">{{object.info.description|default:object.description|default:''}}</textarea>
              </div>
              <div class="form-group">
                <label for="server">Сервер</label>
                <input type="text" class="form-control" id="server" name="server" value="{{object.server}}" />
              </div>
              <div class="form-group">
                <label for="slug">Slug</label>
                <input type="text" class="form-control" id="slug" name="slug" value="{{object.slug}}" />
              </div>
              <button type="submit" class="btn btn-success">Сохранить</button>
            </form>


                <div class="player">

                </div>


            <script type="text/javascript">
              $(function(){
                flowplayer('.player', {
                    clip: {
                        sources: [
                              { type: "video/mp4",
                                src:  "{{object.get_location}}" }
                        ]
                    }
                });           
              })              

            </script>
</div>
</div>





{% endblock %}
