{% extends "base.html" %}

{% block title %}Смотреть {{object.name2|default:object.name}} вместе{% endblock %}
{% block description %}Смотрите {{object.name2|default:object.name}} вместе с друзьями онлайн, скопировав им ссылку на комнату без регистрации на сайте. Приятного совместного просмотра онлайн.{% endblock %}

{% block content %}


<!-- maintop -->
    <div id="maintop">
      <div class="container">
        <div class="row">
          <div class="moduletable center online  col-sm-12">
            <div class="module_container">
              <header class="page_header">
                <h1 class="moduleTitle  heading-style-1 visible-first">Популярные {{object.name2|default:object.name}}</h1>
              </header>
              <div class="mod-newsflash-adv mod-newsflash-adv__center online cols-4" id="module_212">
    <div class="pretext">Смотрите вместе популярные {{object.name2|default:object.name}}</div>
    <div class="row">
      {% for d in popular_films %}
      <article class="col-sm-2 item item_num0 item__module visible-first" id="item_163">
        <div class="item_content">
          <figure class="item_img img-intro img-intro__"> 
            <a href="/film/{{d.slug}}/"><img src="{{d.image_url}}" alt=""></a>
          </figure>

          <h6 class="item_title item_title__center online heading-style-6 visible-first">
            <a href="/film/{{d.slug}}/">
              <span class="item_title_part_0 item_title_part_odd item_title_part_first_half item_title_part_first item_title_part_last">{{d.title}}</span>
            </a>
          </h6>
        </div>  
      </article>
      {% endfor %}
    </div> 

    <div class="clearfix"></div>

    </div>
  </div>
</div>
</div>
</div>
</div> <!-- maintop -->
    
<!-- Main Content row -->
<div id="content">
    <div class="container">
        <div class="row">
            <div class="content-inner">
                <!-- Left sidebar -->
                <div id="component" class="col-sm-8">
                    <main role="main">
                        <div id="system-message-container"></div>

                        <section class="page-blog page-blog__home" itemscope="" itemtype="https://schema.org/Blog">
              <header class="page_header">
                <h1 class="heading-style-1 visible-first">
                  Новые {{object.name2|default:object.name}}
                </h1>
              </header>
              <div class="items-row cols-4 row">
                {% for d in object.films %}
                  {% include 'film_short.htm' %}
                {% endfor %}
                
  </div><!-- end row -->
          <footer class="pagination">
            <ul class="pagination-list">
              <li class="hidden-phone">
                <input type="hidden" id="total_films" value="{{all_films|length}}"/>
                <input type="hidden" id="loaded_films" value="{{films|length}}"/>
                <a href="#" class="load_films">
                  <span class="pagenav">Показать ещё фильмы</span>
                </a>
              </li>
            </ul>  
          </footer>
  </section>
    </main>
    </div>
    
    <div id="aside-right" class="col-sm-4">
      {% include 'right_bar.htm' %}
    </div>
</div>
</div>
</div>
</div>

{% endblock %}
