{% extends "base.html" %}

{% block title %}Правообладателям{% endblock %}

{% block content %}
<div id="content">
    <div class="container">
      <h1>Авторское право</h1>
      <p>Свои пожелания отправляйте через <a href="/feedback/">форму обратной связи</a> с указанием адресов соответствующих страниц.</p>
    </div>
</div>
{% endblock %}
