
{% extends "base.html" %}

{% load static %}

{% block title %}Профиль - {{user.username}}{% endblock %}


{% block content %}
<div style="padding: 20px">
    <h1>{{user.username}}</h1>
    <div class="row">
        <h2>Ваши загруженные видео</h2>

        <div class="col-md-10">
            {% if videos %}
            <div class="row">
                {% for d in videos %}
                <div class="col-sm-2 film-block text-center">
                  <article class="item column-1 visible-first" id="item-118">
                    <figure class="item_img img-intro img-intro__none">
                      
                        {% if d.is_active %}
                        <a href="/tube/{{d.pk}}"><img src="/static/images/user_video_ready.jpg" alt=""></a>
                        {% else %}
                        <img src="/static/images/user_video_process.jpg" alt="">                        
                        {% endif %}
                      
                    </figure>
                    <header class="item_header">
                      <h6 class="item_title heading-style-6">
                        {% if d.is_active %}<a href="/tube/{{d.pk}}">{{d.title}}</a>{% else %}{{d.title}}{% endif %}
                      </h6>
                    </header>
                  </article>
                </div>
                {% endfor %}
            </div>
            {% else %}
            Пока ничего не загружено
            {% endif %}
        </div>
        <div class="col-md-2">
            <div id="filelist">Your browser doesn't have Flash, Silverlight or HTML5 support.</div>
            <br />
            <div id="console"></div>
            <div id="container">
                <a id="pickfiles" class="btn" href="javascript:;" style="width: 180px;">Выбрать файлы</a> 
                <a id="uploadfiles" class="btn" href="javascript:;" style="width: 180px; margin-top: 10px;">Загрузить файлы</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block extra_foot %}
<script src="{% static "js/plupload.full.min.js" %}" type="text/javascript"></script> 
<script src="{% static "js/plupload.ru.js" %}" type="text/javascript"></script> 
<script type="text/javascript">
var uploader = new plupload.Uploader({
    runtimes : 'html5,flash,silverlight,html4',
    browse_button : 'pickfiles', // you can pass an id...
    container: document.getElementById('container'), // ... or DOM Element itself
    url : '/accounts/upload/',
    flash_swf_url : '/static/js/Moxie.swf',
    silverlight_xap_url : '/static/js/Moxie.xap',
    
    filters : {
        max_file_size : '2000mb',
        mime_types: [
            {title : "Video files", extensions : "avi,mkv,mp4,3gp"},
        ]
    },

    init: {
        PostInit: function() {
            document.getElementById('filelist').innerHTML = '';

            document.getElementById('uploadfiles').onclick = function() {
                uploader.start();
                return false;
            };
        },

        FilesAdded: function(up, files) {
            plupload.each(files, function(file) {
                document.getElementById('filelist').innerHTML += '<div id="' + file.id + '">' + file.name + ' (' + plupload.formatSize(file.size) + ') <b></b></div>';
            });
        },

        UploadProgress: function(up, file) {
            document.getElementById(file.id).getElementsByTagName('b')[0].innerHTML = '<span>' + file.percent + "%</span>";
        },

        Error: function(up, err) {
            document.getElementById('console').appendChild(document.createTextNode("\nError #" + err.code + ": " + err.message));
        }
    }
});

uploader.init();

</script>
{% endblock %}
