
<div class="moduletable ">
  
  <div class="module_container">
    <header class="page_header">
      <h6 class="moduleTitle  heading-style-6">Подборки фильмов</h6>
    </header>
    <div class="mod-newsflash-adv news mod-newsflash-adv__ cols-1">
      <div class="row">
        {% for d in collections %}
        <article class="col-sm-12 item item_num0 item__module">
          <div class="item_content">
            <h3 class="item_title item_title__ heading-style-3"><a href="{{d.get_absolute_url}}">{{d.title_short}}</a></h3>
            <div class="item_introtext"><small>{{d.title}}</small></div>
          </div>
          <div class="clearfix"></div>  
        </article>
        {% endfor %}
      </div>
      <div class="clearfix"></div>
    </div>
  </div>

  <div class="module_container">
    <header class="page_header">
      <h6 class="moduleTitle  heading-style-6">На сайте ищут</h6>
    </header>
    <div class="mod-newsflash-adv news mod-newsflash-adv__ cols-1">
      <div class="row">
        {% for d in last_search %}
        <article class="col-sm-12 item item_num0 item__module">
          <a href="/search/?text={{d|urlencode}}">{{d}}</a>
        </article>
        {% endfor %}
      </div>
      <div class="clearfix"></div>
    </div>
  </div>

  
  {% if open_rooms or closed_rooms %}
  <div class="module_container">
    <header class="page_header">
      <h6 class="moduleTitle  heading-style-6">
        Сейчас смотрят
      </h6>
    </header>
    <div class="mod-newsflash-adv news mod-newsflash-adv__ cols-1" id="module_211">
      <div class="row">
      {% for d in open_rooms %}
      <article class="col-sm-12 item item_num0 item__module  " id="item_161">
        <div class="item_content">
          <h3 class="item_title item_title__ heading-style-3">
            {% if d.film %}
            <a href="#" onclick="window.location='/show/'+'{{d.film.slug}}'+'/'+'{{d.room_uuid.hex}}'; return false;">{{d.title}}</a>
            {% elif d.external_film %}
            <a href="#" onclick="window.location='/view/'+'{{d.external_film.slug}}'+'/'+'{{d.room_uuid.hex}}'; return false;">{{d.title}}</a>
            {% else %}
            <a href="#" onclick="window.location='/youtube'; return false;">{{d.title}}</a>
            {% endif %}
          </h3>
          <div class="item_introtext"><small>открытая комната, время: {{d.current_time}}</small></div>
          <div class="item_introtext">Количество человек: {{d.user_count}}  </div>
          </div>
          <div class="clearfix"></div>  
      </article>
      {% endfor %}
      {% for d in closed_rooms %}
      <article class="col-sm-12 item item_num0 item__module  closed_room" id="item_161">
        <div class="item_content">
          <h3 class="item_title item_title__ heading-style-3">
            {% if d.film %}
            <a href="{{d.film.get_absolute_url}}">{{d.title}}</a>
            {% elif d.external_film %}
            <a href="{{d.external_film.get_absolute_url}}">{{d.title}}</a>
            {% else %}
            <a href="#" onclick="window.location='/youtube'; return false;">{{d.title}}</a>
            {% endif %}
          </h3>
          <div class="item_introtext"><small>закрытая комната, время: {{d.current_time}}</small></div>
          <div class="item_introtext">Количество человек: {{d.user_count}}</div>
          </div>
          <div class="clearfix"></div>  
      </article>
      {% endfor %}
      </div>

      <div class="clearfix"></div>
    </div>
  </div>
  {% endif %}
</div>
