{% extends "base_noheader.html" %}

{% load static %}

{% block title %}{{room.title}} - смотреть вместе онлайн{% endblock %}
{% block description %}{{room.title}} - смотреть вместе онлайн{% endblock %}


{% block content %}
<div class="flowplayer-container">
    <div class="flowplayer" id="flowplayer">
      <video>
        <source type="{{room.get_video_type}}" src="{{room.get_location}}">
      </video>
    </div>
</div>
<input type="hidden" value="{{user_name}}" id="user_name"/>
<input type="hidden" value="" id="chat_height"/>

<div id="chats" class="chat">
    <div class="chat-title">
        <h1><a href="{{room.get_source_url}}" target="_blank">{{room.title}}</a></h1>
        <h2>Количество человек: <span id="user_count">1</span><br/><span id="users">{{user_name|default:""}}</span></h2>
        <h2><button class='sync-button'>синхронизировать</button></h2>
    </div>
</div>

{% include 'room_name_dlg.htm' %}


{% endblock %}


{% block extra_body %}
    <script>
        var start_time = 0;
        var ready_time = 0;
        var socket = null;
        
        // function hideKeyboard(element) {
        //     element.attr('readonly', 'readonly'); // Force keyboard to hide on input field.
        //     element.attr('disabled', 'true'); // Force keyboard to hide on textarea field.
        //     setTimeout(function() {
        //         element.blur();  //actually close the keyboard
        //         // Remove readonly attribute after keyboard is hidden.
        //         element.removeAttr('readonly');
        //         element.removeAttr('disabled');
        //     }, 100);
        // }

        function progressToTime(value){
            var date = new Date(null);
            date.setSeconds(value);
            return date.toISOString().substr(11, 8);            
        }

        function is_mobile(){
            try {
                var ua = detect.parse(navigator.userAgent); 
                var os = !ua.os.name ? '' : ua.os.name;
                sendLog({'message': 'os', 'data': os})
                return os.toLowerCase().indexOf('android')>=0 || os.toLowerCase().indexOf('ios')>=0 ;
            }
            catch(e) {return false;}
        }

        function gotoMasterProgress(){
            try{
                $.get('/progress/{{room.get_uuid}}').done(function(data){
                    try{
                        data = JSON.parse(data);
                    } catch(e){

                    }
                    console.log('gotoMasterProgress', data.progress)
                    flowplayer().seek(data.progress);
                });
            } catch(e) {}
        }

        function sendLog(params){
            // return;
            try {
                params['room_uuid'] = '{{room.get_uuid}}';
                $.post('/save/metrics/', JSON.stringify(params), null, 'json');
            }
            catch(e) {}
        }

        window.onerror = function(err, url, line, col, msg) {
            var data = {
                'Error': err,
                'URL': '{{room.room_uuid}}',
                'Line': line,
                'Column': null,
                'Message': null,
                'Browser': null,
                'OS': null,
                'Device': null
            };

            // HTML5 only
            data['Column'] = !col ? '' : col;
            data['Message'] = !msg ? '' : msg;

            try {
                var ua = detect.parse(navigator.userAgent); 
                data['Browser'] = !ua.browser.name ? '' : ua.browser.name;
                data['OS'] = !ua.os.name ? '' : ua.os.name;
                data['Device'] = !ua.device.name ? '' : ua.device.name;
            }
            catch(e) {}

            console.groupCollapsed('Error: ' + data['Error']);
            console.log('URL: ' + data['URL']);
            console.log('Line: ' + data['Line']);
            if(data['Column'])
                console.log('Column: ' + data['Column']);
            if(data['Message'])
                console.log('Message: ' + data['Message']);
            console.groupEnd();

            try {
                $.post('/save/error/', data);
            }
            catch(e) {}

            return true; //suppressErrorAlert
        };

        // function sendPing(socket){
        //     try{
        //         socket.send(JSON.stringify({
        //             "command": "ping",
        //             "room": roomId,
        //         }));
        //     } catch (err) {
        //         console.log('sendPing error sending via socket');
        //     }
        // }
        {% if is_author %}
        function sendProgress(socket){
            var api = flowplayer();
            var progress = api.ready ? api.video.time : 0;
            try{
                socket.send(JSON.stringify({
                    "command": "progress",
                    "room": roomId,
                    "progress": progress,
                }));
            } catch(err){
                console.log('sendProgress error sending via socket');
            }
        }

        function sendPause(){
            sendLog({'message': 'send pause'});
            var api = flowplayer();
            var progress = api.ready ? api.video.time : 0;

            socket.send(JSON.stringify({
                "command": "pause",
                "room": roomId,
                "progress": progress,
            }));
        }

        function sendResume(){
            sendLog({message: 'send resume'});
            var api = flowplayer();
            var progress = api.ready ? api.video.time : 0;

            socket.send(JSON.stringify({
                "command": "resume",
                "room": roomId,
                "progress": progress,
            }));
        }

        function sendSeek(progress){
            console.log('sendSeek', progress);
            // sendLog({message: 'send seek'});
            try{
                socket.send(JSON.stringify({
                    "command": "seek",
                    "room": roomId,
                    "progress": progress,
                }));
            } catch(err){
                sendLog({message: 'sendSeek error sending via socket'});
                console.log('sendSeek error sending via socket');
            }
        }
        {% else %}
        function sendProgress(socket){
            var api = flowplayer();
            var progress = api.ready ? api.video.time : 0;
            try{
                socket.send(JSON.stringify({
                    "command": "user_progress",
                    "room": roomId,
                    "progress": progress,
                }));
            } catch(err){
                console.log('sendProgress error sending via socket');
            }
        }        
        {% endif %}
        function sendReady(ready_time){
            // sendLog({message: 'sendReady'});
            console.log('sendReady', ready_time, socket);
            if(!socket){
                return;
            }
            try{
                socket.send(JSON.stringify({
                    "command": "ready",
                    "room": roomId,
                    "ready_time": ready_time,
                    "user_agent": navigator.userAgent,
                }));
            } catch(err){
                sendLog({message: 'sendReady error sending via socket'});
                console.log('sendReady error sending via socket', err);
            }
        }

        function makeVideoOperation(data){
            console.log('makeVideoOperation data=', data)
            var api = flowplayer();
            sendLog({'message': 'video operation', 'data': data});
            if(data.operation == 'pause'){
                api.pause();
                api.seek(data.progress);
                api.pause();
            } else if (data.operation == 'resume'){
                if(data.progress==0 || Math.floor(api.video.time)==Math.floor(data.progress)){
                    api.resume();
                } else {
                    api.seek(data.progress, function(){
                        api.resume();
                    });
                }
            } else if (data.operation == 'seek'){
                api.seek(data.progress + 1);
            }
        }


        function updateMeta(data){
            console.log('updateMeta', data);
            room_info = data                    
            $("#user_count").html(data.user_count);
            var user_html = "";

            if(!data.users || data.users.length==0){
                return;
            }

            var eprogress = data.users[0].progress;
            for(var i=1; i<data.users.length; i++){
                if(Math.abs(data.users[i].progress - eprogress) < 5){
                    data.users[i].progress = eprogress;
                }
            }

            for(var i=0; i<data.users.length; i++){
                var user = data.users[i];
                var progress = progressToTime(user.progress);
                var user_class = 'active_user';
                
                if(user.ready_time==0){
                    user_class = 'inactive_user';
                }

                user_html += '<span class="' + user_class +'">' + user.name + '(' + progress + ')' + '</span><br/>'
            }
            $("#users").html(user_html);
            var api = flowplayer();

            var is_pause = api.ready ? api.paused : false;
            // console.log('is_pause', api.paused);

            if(is_pause==true && data.is_pause==false){
                api.seek(data.progress, function(){
                    // console.log('resume');
                    setTimeout(function(){
                        var api = flowplayer();
                        api.resume();
                        api.resume();
                    }, 500)
                    // api.play();
                    // api.resume();
                });
            }

            setTimeout('sendProgress(socket)', 1000);
        }


        function startConnection() {
            sendLog({'message': 'startConnection'});
            room_info = {};
            // Correctly decide between ws:// and wss://
            var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
            var ws_path = ws_scheme + '://' + window.location.host + "/chat/stream/";
            // console.log("Connecting to " + ws_path);
            socket = new ReconnectingWebSocket(ws_path);

            // Handle incoming messages
            socket.onmessage = function (message) {
                // Decode the JSON
                // console.log("Got websocket message " + message.data);
                // sendLog({'message': 'socket message', data: message.data});
                var data = JSON.parse(message.data);
                // Handle errors
                if (data.error) {
                    alert(data.error);
                    return;
                }
                // Handle joining
                if (data.join) {
                    // console.log("Joining room " + data.join);

                    var roomdiv = $(
                            
                            "<div class='room' id='room-" + data.join + "'>" +                            
                            "<div class='messages'></div>" +
                            "<div class='message-box'><form><input class='message-input' placeholder='Напишите сообщение'><button class='message-submit'>Отправить</button></form></div></div>"
                            
                    );
                    // Hook up send button to send a message
                    roomdiv.find("form").on("submit", function () {
                        socket.send(JSON.stringify({
                            "command": "send",
                            "room": data.join,
                            "message": roomdiv.find("input").val()
                        }));
                        roomdiv.find("input").val("");
                        
                        if(!is_mobile()){
                            roomdiv.find("input").focus(); 
                        } else {
                            roomdiv.find(".message-submit").focus();
                            $(".messages").css('max-height', $(window).height() - $('.chat_title').outerHeight() - $('.message-box').outerHeight());
                        }
                        return false;
                    });



                    if($('.room').length==0){
                        $("#chats").append(roomdiv);
                        $(document).find(".messages").mCustomScrollbar();
                    }
                    // Handle leaving
                } else if (data.user_count) {
                    updateMeta(data);
                } else if (data.operation) {
                    {% if not is_author %}makeVideoOperation(data);{% endif %}
                } else if (data.leave) {
                    // console.log("Leaving room " + data.leave);
                    $("#room-" + data.leave).remove();
                    // Handle getting a message
                } else if (data.message || data.msg_type != 0) {
                    var msgdiv = $("#room-" + data.room + " .messages");
                    var username = data.username;
                    var ok_msg = "";
                    var my_class = "";

                    if(username!==$("#user_name").val()){
                        my_class = "message-personal";                        
                    } else {
                        username = "Вы";
                    }
                    
                    // console.log($(document).height(), $('.chat-title').outerHeight(), $('.message-box').outerHeight());

                    $(".messages").css('max-height', $(document).height() - $('.chat-title').outerHeight() - $('.message-box').outerHeight()-10);

                    $(".messages").mCustomScrollbar("update").mCustomScrollbar('scrollTo', 'bottom', {
                        scrollInertia: 10,
                        timeout: 0
                      });
                                      
                    switch (data.msg_type) {
                        case 0:
                            var d = new Date();
                            var dt = d.getHours()+":"+d.getMinutes();
                            // Message
                            ok_msg = "<div class='message " + my_class + "'>" +
                                    "<div class='timestamp'>" + dt + '&nbsp;' + username + "</div>" +
                                    "<span class='body'>" + data.message + "</span>" +
                                    "</div>";
                            break;
                        case 1:
                            // Warning / Advice messages
                            ok_msg = "<div class='contextual-message text-warning'>" + data.message +
                                    "</div>";
                            break;
                        case 2:
                            // Alert / Danger messages
                            ok_msg = "<div class='contextual-message text-danger'>" + data.message +
                                    "</div>";
                            break;
                        case 3:
                            // "Muted" messages
                            ok_msg = "<div class='contextual-message text-muted'>" + data.message +
                                    "</div>";
                            break;
                        case 4:
                            // User joined room
                            ok_msg = "<div class='contextual-message text-muted'>" + username +
                                    " присоединился" +
                                    "</div>";
                            break;
                        case 5:
                            // User left room
                            ok_msg = "<div class='contextual-message text-muted'>" + username +
                                    " отключился" +
                                    "</div>";
                            break;
                        default:
                            // console.log("Unsupported message type!");
                            return;
                    }
                    msgdiv.find('.mCSB_container').append(ok_msg);

                    msgdiv.scrollTop(msgdiv.prop("scrollHeight"));
                } else {
                    // console.log("Cannot handle message!");
                }
            };

            roomId = '{{room.room_uuid}}';
            
            // Helpful debugging
            socket.onopen = function () {
                // Join room
                // console.log("Connected to chat socket");
                // sendLog({'message': 'socket onopen'});

                socket.send(JSON.stringify({
                    "command": "join",
                    "user_name": $("#user_name").val(),
                    "room": roomId
                }));  

                // sendPing(socket);

                // setTimeout('sendPing(socket)', 2000); 
                // setInterval('sendPing(socket)', 10000); 
                setTimeout('sendReady(ready_time);', 300);                 
                setTimeout('sendProgress(socket)', 500);                 
            };

            socket.onclose = function () {
                // sendLog({'message': 'socket onclose'});
                // console.log("Disconnected from chat socket");
            }

            socket.onerror = function (error) {
                sendLog({'message': 'socket error', 'data': error});
                // console.log("Disconnected from chat socket");
            }


            $("#is_open").click(function(){
                // console.log("is_open");
                socket.send(JSON.stringify({
                    "command": "change_open",
                    "room": roomId
                }));                 
            });

            $(".sync-button").click(function() {
                {% if is_author %}
                    var api = flowplayer();
                    var progress = api.ready ? api.video.time : 0;
                    sendSeek(progress);
                {% else %}
                    makeVideoOperation({operation: 'seek', progress: room_info.progress});
                {% endif %}
            });
        }


        {% if is_author %}

        flowplayer(function (api, root) {
          // console.log('connecting api')  
          api.on("resume", function () {
            // console.log('resume');
            sendResume();
          }).on("load", function () {
            // console.log('resume');
            start_time = new Date();
          }).on("ready", function () {
            // console.log('resume');
            var curdt = new Date();
            ready_time = curdt - start_time
            sendReady(ready_time);
            sendLog({'message': 'ready', 'data': {'time': ready_time}});
          }).on("pause", function () {
            // console.log('pause')
            sendPause();
          }).on("seek", function (e, api, position) {
            // console.log('seek', position)
            sendSeek(position);
          }).on("error", function (code, message) {
            sendLog({'message': 'flowplayer error', 'data': code, 'text': message});
          });
        }); 
        {% else %}
        flowplayer(function (api, root) {
            api.on("load", function () {
              start_time = new Date();
            }).on("resume", function () {
            // console.log('resume');
              // sendResume();
              // sendLog({'message': 'resume client'})
            }).on("ready", function () {
              var curdt = new Date();
              ready_time = curdt - start_time
              sendReady(ready_time);
              sendLog({'message': 'ready', 'data': {'time': ready_time}});
              gotoMasterProgress();
            }).on("error", function (code, message) {
                sendLog({'message': 'flowplayer error', 'data': code, 'text': message});
            });
        });
        {% endif %}

        $(document).ready(function () {
            sendLog({message: 'room opened'});
            
            showModal();

            if(is_mobile()){
                $('.chat').css('width', '200px');
            }

            $('.show-film').click(function(){
                var user_name = $('#your_name').val().trim().substring(0, 30);
                var name = Cookies.set('name', user_name);
                if(user_name && user_name.length > 0){
                    $("#user_name").val(user_name);  
                    startConnection();                   
                    $('#mask, .window').hide();       
                } else {
                    alert('Нельзя присутствовать в комнате, не представившись. Обновите страницу.')
                }


                $(".messages").css('max-height', $(window).height() - $('.chat_title').outerHeight() - $('.message-box').outerHeight());

                var new_width = $(window).width() - $('#chats').width() - 10;
                $(".flowplayer-container").css('width', new_width);

                sendLog({message:'.show-film clicked', name: user_name});

                return false;
            })


            $(window).resize(function(){
                $(".messages").css('max-height', $(window).height() - $('.chat_title').outerHeight() - $('.message-box').outerHeight());
                var new_width = $(window).width() - $('#chats').width() - 10;
                $(".flowplayer-container").css('width', new_width);

                // sendLog({message: 'window resize', width: new_width});

            });


        });
    </script>
{% endblock %}
