<div id="modal-dialog" class="window">
    <h4>Как вас зовут?</h4>
    <div class="input-group">
        <input type="text" class="form-control" value="" id="your_name"/>
        <div class="input-group-append">
            <button class="btn btn-success" title="Другое случайное имя" onclick="setRamdomName()"><span class="fa fa-random"></span></button>
        </div>        
    </div>
    <h4 class="mt-2">Ссылка на комнату:</h4>
    <div class="input-group">
        <input type="text" class="form-control" value="http://vmeste.tv{{room.get_absolute_url}}" id="link"/>
        <div class="input-group-append">
            <button class="btn btn-success" title="Скопировать ссылку" onclick="copyToClipboard()"><span class="fa fa-copy"></span></button>
        </div>
    </div>
    <span id="copied" style="display:none" class="float-right">скопировано</span>

<!-- uSocial -->
<script async src="https://usocial.pro/usocial/usocial.js?v=6.1.4" data-script="usocial" charset="utf-8"></script>
<div class="uSocial-Share" data-pid="781872baae23fea62aa73a0843171c38" data-type="share" data-options="round-rect,style1,default,absolute,horizontal,size32,eachCounter0,counter0" data-social="vk,fb,ok,telegram,twi,gPlus,tumblr,email,bookmarks" data-mobile="vi,wa,sms"></div>
<!-- /uSocial -->  

    <button href="#" class="show-film"/>Смотреть фильм</button>
</div>

<div id="mask"></div>