{% extends "base.html" %}

{% block title %}{{text}} - результаты поиска{% endblock %}

{% block content %}
   
<!-- Main Content row -->
<div id="content">
    <div class="container">
        <div class="row">
            <div class="content-inner">
                <!-- Left sidebar -->
                <div id="component" class="col-sm-8">
                    <main role="main">
                        <div id="system-message-container"></div>

                        <section class="page-blog page-blog__home" itemscope="" itemtype="https://schema.org/Blog">
              <header class="page_header">
                <h1 class="heading-style-1 visible-first">
                  Результаты поиска {{text}}
                </h1>
              </header>
              <div class="items-row cols-4 row">
                {% for d in films %}
                  {% include 'film_long.htm' %}
                {% endfor %}
              </div>
              <div>
                {% if results.movie %}
                  <div class="clearfix"></div>
                  <h2>Фильмы (с рекламой)</h2>
                  {% for d in results.movie %}
                    {% include 'film_external_short.htm' %}
                  {% endfor %}
                {% endif %}

                {% if results.serial %}
                  <div class="clearfix"></div>
                  <h2>Сериалы (с рекламой)</h2>
                  {% for d in results.serial %}
                    {% include 'film_external_short.htm' %}
                  {% endfor %}
                {% endif %}
                
        </div><!-- end row -->

          <!--footer class="pagination">
            <ul class="pagination-list">
              <li class="hidden-phone">
                <input type="hidden" id="total_films" value=""/>
                <input type="hidden" id="loaded_films" value=""/>
                <a href="#" class="load_films">
                  <span class="pagenav">Показать ещё фильмы</span>
                </a>
              </li>
            </ul>  
          </footer-->

  </section>
  </main>

  </div>
                                <!-- aside-right -->
    <div id="aside-right" class="col-sm-4">
      {% include 'right_bar.htm' %}
    </div>
</div>
</div>
</div>
</div>

{% endblock %}

{% block extra_foot %}
<script>
$(function(){
  $(".add-collection").on("click", function(){
    $.get($(this).attr("href"));
    $(this).hide();
  })
});
</script>
{% endblock %}
