{% extends "base.html" %}

{% block title %}Chats{% endblock %}
{% block description %}Chats{% endblock %}

{% block content %}
<div class="container">
  <h2>Популярность фильмов</h2>
  <table class="table">
    {% for d in films %}
    <tr>
    	<td>{{forloop.counter}}.</td>
    	<td>{{d.film.dt_create|date:'d.m.Y'}}</td>
    	<td>{{d.film}}</td>
    	<td>{{d.rooms_count}}</td>
    	<td>{{d.film.server}}</td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
