{% extends "base.html" %}

{% block title %}Смотреть вместе видео с youtube{% endblock %}
{% block description %}Смотреть вместе видео с youtube. Вставьте ссылку с youtube и смотрите видео вместе с друзьями онлайн{% endblock %}

{% block content %}
   
<div id="content">
    <div class="container">
        <div class="row">
            <div class="content-inner">
                <div id="component" class="col-sm-8">
                    <header class="page_header">
                      <h1 class="heading-style-1 visible-first">
                        Поиск по ссылке на youtube
                      </h1>
                    </header>
                    <form method="get" action="">
                      <input type="text" name="url" placeholder="Ссылка на youtube" value="{{url}}"/>
                      <input type="submit" class="btn" value="Искать"/>
                      <small>Например: <a href="?url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3D0JdSdaQbR1M">https://www.youtube.com/watch?v=0JdSdaQbR1M</a></small>
                    </form>
                    {% if data %}
                    <div style="text-align: center">
                      <h2>{{data.0.title}}</h2>
                      <p><a href="/video/{{last_pk}}"><img src="{{data.0.thumbnail}}" /></a></p>
                      <p>
                        <a class="btn btn-danger" href="#" onclick="window.location='/video/'+'{{last_pk}}'; return false;">Смотреть в закрытой комнате</a>
                      </p>
                    </div>
                    {% elif is_search %}
                    <h2>Извините, но по вашей ссылке ничего не найдено</h2>
                    {% endif %}
                    {% if last_videos %}
                    <h2>Сейчас смотрят</h2>
                    <div class="row">
                    {% for d in last_videos %}
                    <div class="col-md-4">
                      <div class="thumbnail">
                        <a href="#" onclick="window.location='/video/'+'{{d.pk}}'; return false;">
                          <img src="{{d.thumbnail}}" alt="{{d.title}} на youtube {{d.dt_create|date:'d.m.Y H:i'}}">
                        </a>                      
                        <p><a  href="#" onclick="window.location='/video/'+'{{d.pk}}'; return false;">{{d.title}}</a></p>
                      </div>
                    </div>
                    {% endfor %}   
                    </div>
                    {% endif %}
                </div>
                <div id="aside-right" class="col-sm-4">
                  {% include 'right_bar.htm' %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

